html{
    margin: 0 auto;
  }
  
  body{
      margin: 0;
      width: 100%;
      background-color: #FDFCEA;
  }
  
  nav{
      font-family: Rubik;
  }
  
  #carouselExampleCaptions h2{
      font-family: Libre-Baskerville;
  }
  
  #carouselExampleCaptions p{
      font-family: Rubik;
  }
  
  #presentación {
      padding: 50px 0;
  }
  #presentación h1{
      font-family: Prata;
      color: #73706C;
  }
  #presentación p{
      font-family: Raleway;
  }
  #presentación a{
      font-family: Rubik;
  }
  
  .btn{
      color: white;
      background-color: #B6201C;
  }
  
  .btn:hover{
      background-color: #B85B56;
  }
  
  #galería h3{
      font-family: Prata;
      color: #73706C;
  }
  #galería h1{
      font-family: Prata;
      color: #73706C;
  }
  #galería h5{
      font-family: Prata;
      color: #F8F5F2;
  }
  #galería p{
      font-family: Raleway;
      color: #F8F5F2;
  }
  #galería a{
      font-family: Raleway;
      color: #F8F5F2;
  }
  
  .card{
      display: block;
      padding-top: 20px;
      text-align: center;
      justify-content: center;
      background-color: #E76658;
  }
  .card.body{
      background-color: #FDFCEB;
  }
  
  #eventos h1{
      font-family: Libre-Baskerville;
      color: #73706C;
  }
  #eventos h2{
      font-family: Libre-Baskerville;
      color: #000000;
  }
  #eventos h3{
      font-family: Libre-Baskerville;
      color: #ffffff;
  }
  #eventos p{
      font-family: Libre-Baskerville;
      color: #ffffff;
  }
  
  #carouselExampleControls{
      background-color: #E76658;
  }
  #aaa{
      background-color: #E76658;
  }
  #opinión h2{
      font-family: Libre-Baskerville;
      color: #73706C;
  }
  #opinión h3{
      font-family: Libre-Baskerville;
      color: #ffffff;
  }
  
  
  footer{
      background-color: #B85B56;
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  footer a{
      color: #F8F5F2;
  }
  .pieflex{
      display: flex;
      justify-content: space-between;
      font-display: row;
      color: #F8F5F2;
      padding-left: 80px;
  }
  footer .redes{
      display: flex;
      width: 5%;
      justify-content: space-between;
      flex-direction: row;
      padding-right: 185px;  
  }